
4_Convolutional_Neural_Networks/4_4_SpecialApplicationsFaceRecognitionNeuralStyleTransfer/3D_to_2D.htm
4_Convolutional_Neural_Networks/4_4_SpecialApplicationsFaceRecognitionNeuralStyleTransfer/NeuralStyleTransfer_Paper.pdf
4_Convolutional_Neural_Networks/4_4_SpecialApplicationsFaceRecognitionNeuralStyleTransfer/screencapture-coursera-org-learn-convolutional-neural-networks-exam-HxEwv-special-applications-face-recognition-neural-style-transfer-attempt-2019-08-20-13_56_31.pdf
